// Colors
$color-333: #333;
$color-666: #666;
$color-999: #999;
$color-aaa: #aaa;
$color-bbb: #bbb;
$color-black-alpha: rgba(0, 0, 0, .96);
$color-black: #000;
$color-ccc: #ccc;
$color-chipotle: #633;
$color-cobalt: #3a4950;
$color-ddd: #ddd;
$color-eee: #eee;
$color-ghost: #e8e8e8;
$color-green: #87b167;
$color-light-gray: #9a9a9a;
$color-navy: #336699;
$color-ombre: #393939;
$color-red: #c00;
$color-sun: #ffbf00;
$color-terracotta: #f4846e;
$color-white-alpha: rgba(255, 255, 255, .96);
$color-white: #fff;

// Typography
$regular-font: 'Poppins', Helvetica, sans-serif;
