.speaker {
  background-image: url(../../../assets/speaker.png);
  background-repeat: no-repeat;
  background-size: 128px;
  cursor: pointer;
  display: block;
  height: 128px;
  margin: auto;
  width: 128px;

  &.active {
    filter: drop-shadow(0 0 10px #87b167);
  }
}

.spinner {
  height: 100px;
  margin: 14px auto;
  width: 100px;
}

input {
  display: block;
  width: 50%;
  height: 32px;
  padding-left: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.well {
  margin-top: 10px;
}
